<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566574152548-9d1s5det9ql1de2avr19u9ahr39pdjvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566574152548-9d1s5det9ql1de2avr19u9ahr39pdjvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDNsagsD5lR5gSI7DSp0NLRpF4IFS9HJFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>566574152548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.dartmouth.cs.rnshort</string>
	<key>PROJECT_ID</key>
	<string>react-native-ec</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566574152548:ios:d0bfa375327994a43f9871</string>
</dict>
</plist>